header {
  margin-left: 18vw;
  width: calc(100vw - 18vw) !important;
}
header nav .nav-container {
  gap: 15px !important;
}
header nav .main-nav {
  width: 100% !important;
  padding: 23px 2vw !important;
  box-sizing: border-box;
  border-bottom: solid 1px var(--dark-brown);
}
.sidebar {
  width: 18vw;
  height: 100vh;
  background: var(--dark-brown);
  position: fixed;
  top: 0;
  left: 0;
  padding: 30px 2vw;
  box-sizing: border-box;
}
.sidebar .sidebar-logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sidebar .sidebar-logo img {
  width: 40px;
}
.sidebar .sidebar-logo h4 {
  color: var(--cream);
}
.sidebar hr {
  margin-block: 27px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sidebar ul li {
  text-align: left;
}
.sidebar ul li a {
  color: var(--cream);
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px 10px;
  transition: background ease 0.5s;
}
.sidebar ul li a:hover {
  background: var(--dark-pink);
}
.sidebar ul li a.child-link {
  margin-left: 2vw;
  margin-top: 15px;
  padding: 10px;
}
.content {
  margin-left: 18vw;
  padding: 2vw;
  margin-top: 91px;
}
.heading-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buttons-container .input-container,
.buttons-container .input-container input {
  background-color: var(--pink);
}
.admin-table {
  border-collapse: collapse;
  margin-top: 20px;
}
.admin-table thead {
  background-color: var(--pink);
}
.admin-table th,
.admin-table td {
  border: solid 1px var(--dark-brown);
  padding: 10px;
}
.admin-table td .product-img {
  width: 10vw;
}
.admin-table td .action,
.content .heading-buttons .buttons-container {
  display: flex;
  gap: 15px;
  align-items: center;
}
.admin-table td .action .btn-icon:first-child {
  background-color: var(--pink);
}
.admin-table td .action .btn-icon:last-child {
  background-color: var(--dark-pink);
  color: var(--cream);
}
.modal {
  display: none;
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.4);
}
.modal-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark-brown);
  padding: 30px;
  width: 50vw;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  max-height: 80vh;
}
.modal-title-close,
.dropdown-title-close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-title-close .close,
.modal-title-close h2,
.modal-content form label {
  color: var(--cream);
}
.modal-title-close .close {
  float: right;
  cursor: pointer;
  font-weight: 700;
  font-size: 40px;
}
.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-content form .modal-footer{
  margin-top: 20px;
}
@media (max-width: 768px) {
  .sidebar {
    width: 70px;
  }

  .sidebar ul li a {
    justify-content: center;
  }

  .sidebar ul li a .text {
    display: none;
  }

  .content {
    margin-left: 70px;
  }
}
