.category-filter{
    width: 75%;
    margin: auto;
    padding: 128px 0 0 0;
    text-align: center;
}
.category-filter-container{
    box-sizing: border-box;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 20px;
}
.category-filter-content .btn{
    background-color: var(--pink);
    color: var(--dark-brown);
    font-weight: 700;
}
section{
    min-height: 10vh !important;
}
.section-container{
    padding: 60px 0 60px 0 !important;
}
section:nth-of-type(3n), 
section:nth-of-type(2) .section-container{
    padding: 0 0 60px 0 !important;
}
section:nth-of-type(3n){
    background-color: var(--dark-brown);
}
section:nth-of-type(3n) h2,
section:nth-of-type(3n) h3,
section:nth-of-type(3n) a,
section:nth-of-type(3n) p{
    color: var(--cream);
}