:root {
  --dark-brown: #45171d;
  --dark-pink: #a5514b;
  --pink: #ffccd2;
  --cream: #fff3f3;

  --shadow-40: rgba(69, 23, 29, 0.4);
  --shadow-60: rgba(69, 23, 29, 0.6);

  --poltawski: "Poltawski Nowy", serif;
  --poppins: "Poppins", serif;

  --f-p-120: 120px;
  --f-p-90: 90px;
  --f-p-80: 80px;
  --f-p-50: 50px;
  --f-p-40: 40px;
  --f-p-35: 35px;
  --f-p-30: 30px;
  --f-p-27: 27px;
  --f-p-21: 21px;
  --f-p-18: 18px;
  --f-p-14: 14px;
  --f-p-16: 16px;

  --border-5: 5px;
}
::-webkit-scrollbar {
  width: 0;
}
html,
body,
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--cream);
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: var(--poltawski);
  color: var(--dark-brown);
}
h1 {
  font-size: var(--f-p-80);
}
h2 {
  font-size: var(--f-p-35);
}
h3 {
  font-size: var(--f-p-27);
}
h4 {
  font-size: var(--f-p-21);
}
h5 {
  font-size: var(--f-p-18);
}
p,
label {
  font-family: var(--poppins);
  font-size: var(--f-p-16);
  color: var(--dark-brown);
  font-weight: 500;
}
a {
  color: var(--dark-brown);
  font-size: var(--f-p-14);
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.btn {
  padding: 6px 20px;
  background-color: var(--dark-pink);
  border-radius: var(--border-5);
  color: var(--cream);
  font-size: var(--f-p-14);
  font-weight: 600;
  display: inline-block;
}
.btn-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: var(--border-5);
}
button {
  border: none;
  cursor: pointer;
  font-family: var(--poltawski);
  font-size: var(--f-p-14);
}
form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-container {
  background-color: var(--cream);
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--dark-brown);
  padding: 15px 12px 8px 12px;
}
.input-container input {
  background-color: var(--cream);
  border: none;
  border-bottom: solid 1px var(--dark-brown);
  width: 100%;
  padding-bottom: 3px;
  font-family: var(--poppins);
  font-weight: 500;
}
.input-container input::placeholder {
  font-size: var(--f-p-14);
}
.input-container i {
  position: absolute;
  right: 12px;
  cursor: pointer;
  color: var(--shadow-60);
}
.input-container input:focus,
select:focus {
  outline: none;
}
select {
  border: 0;
  border-bottom: solid 2px var(--dark-brown);
  width: 15vw;
  font-family: var(--poppins);
  font-weight: 500;
  font-size: var(--f-p-14);
  color: var(--dark-pink);
  background-color: var(--cream);
  padding-bottom: 2px;
}
input[type="checkbox"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border: 2px solid var(--dark-pink);
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
input[type="checkbox"]:checked::after {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  color: var(--dark-brown);
  font-weight: 900;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.label-checkbox {
  display: flex;
  align-items: center;
  gap: 15px;
}
section {
  min-height: 100vh;
}
.section-container {
  width: 85%;
  margin: auto;
  padding: 128px 0 60px 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
header {
  position: fixed;
  z-index: 9;
  width: 100%;
  top: 0;
  left: 0;
}
nav {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--cream);
}
header nav .top-space {
  background-color: var(--dark-brown);
  height: 16px;
}
header nav .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: auto;
  padding-bottom: 8px;
}
header nav .main-nav .nav-buttons .btn-icon {
  background-color: var(--pink);
}
header nav .nav-container,
header nav ul {
  display: flex;
  align-items: center;
}
header nav .nav-container {
  gap: 40px;
}
header nav ul {
  gap: 15px;
}
header nav .nav-container .nav-links .nav-link a {
  font-family: var(--poppins);
  font-weight: 500;
}
header nav .nav-logo {
  background-color: var(--dark-brown);
  padding: 10px;
  border-radius: 0 0 5px 5px;
}
header nav .nav-logo img {
  width: 35px;
}
.underline {
  text-decoration: underline;
  text-align: center;
}
section .underline {
  font-weight: 700;
}
.a-poppins {
  font-family: var(--poppins);
  font-weight: 600;
}
footer {
  background-color: var(--dark-brown);
}
.footer-container {
  width: 85%;
  padding-top: 80px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.main-footer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.footer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.footer-content.location iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
}
.footer-content.logo-links {
  gap: 15px;
  justify-content: center;
  align-items: center;
  border-left: solid 1px var(--cream);
  border-right: solid 1px var(--cream);
}
.footer-content.logo-links .footer-logo img {
  width: 80px;
}
footer .footer-container h5,
footer .footer-container .main-footer .footer-content h5,
footer .footer-container .main-footer .footer-content.logo-links a {
  color: var(--cream);
}
footer .footer-container .footer-content p,
footer .footer-container .footer-content a {
  color: var(--pink);
}
.about-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-container,
.certificates-container {
  display: flex;
  gap: 15px;
}
.contact-content .btn-icon {
  background-color: var(--dark-pink);
}
.certificates-content a {
  color: var(--pink);
}
.footer-credit {
  width: 100%;
  text-align: center;
  border-top: solid 1px var(--cream);
  padding: 30px 0 30px 0;
}