:root {
  --dark-brown: #602830;
  --dark-pink: #a5514b;
  --pink: #ffccd2;
  --cream: #ffeded;

  --poltawski: "Poltawski Nowy", serif;
  --poppins: "Poppins", serif;

  --f-p-120: 120;
  --f-p-90: 90;
  --f-p-80: 80;
  --f-p-50: 50;
  --f-p-40: 40;
  --f-p-30: 30;
  --f-p-32: 32;
  --f-p-20: 20;
  --f-p-18: 18;
  --f-p-17: 17;
}
html,
body,
* {
  margin: 0;
  padding: 0;
}
body{
  background-color: var(--cream);
}
li{
  list-style: none;
}
h1, h2, h3, h4, h5 ,h6, a{
  font-family: var(--poltawski);
}
h1{
  font-size: var(--f-p-80);
}
h2{
  font-size: var(--f-p-50);
}
h3{
  font-size: var(--f-p-40);
}
h4{
  font-size: var(--f-p-32);
}
p{
  font-family: var(--poppins);
  font-size: var(--f-p-17);
}
a{
  text-decoration: none;
  color: var(--dark-brown);
}